[Unit]
Description=Minecraft Server
After=network-online.target docker.service
Requires=docker.service

Wants=mcserv-stoptimerctrl.service
OnFailure=mcserv.socket

[Service]
ExecStart=/usr/bin/docker start --attach minecraft

[Install]
WantedBy=mutli-user.target
