[Unit]
Description=Monitors if Minecraft Server has not players, to then start mcserv-stop.timer
BindsTo=mcserv.service

[Service]
WorkingDirectory=/opt/mcserv
ExecStart=/opt/mcserv/scripts/shutdown-timerctrl.sh
