[Unit]
Description=Minecraft Server
After=network-online.target

[Service]
WorkingDirectory=/opt/mcserv

ExecStartPre=/opt/mcserv/scripts/setup.sh
ExecStart=/opt/mcserv/scripts/start.sh
ExecStopPost=/opt/mcserv/scripts/teardown.sh

[Install]
WantedBy=mutli-user.target
