[Unit]
Description=Monitors if Minecraft Server has no players, to then start mcserv-stop.timer
BindsTo=mcserv.service
After=mcserv.service

[Service]
ExecStart=/usr/local/bin/mcserv-shutdown-timerctrl.sh
