[Unit]
Description=Minecraft Server
After=network-online.target
Wants=mcserv-stoptimerctrl.service
Conflicts=mcserv.socket
OnFailure=mcserv.socket

[Service]
WorkingDirectory=/opt/mcserv
SuccessExitStatus=143
Restart=on-failure

ExecStartPre=/usr/bin/mkfifo %t/mcserv.stdin
ExecStart=/bin/bash -c "exec /usr/local/bin/mcserv-start.sh < %t/mcserv.stdin"
ExecStopPost=/usr/bin/rm %t/mcserv.stdin
ExecStopPost=/usr/bin/systemctl start mcserv.socket

[Install]
WantedBy=mutli-user.target
