[Unit]
Description=Stop Minecraft Server
Conflicts=mcserv.service mcserv-stoptimerctrl.service mcserv-stop.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/echo "Stopping mcserv.service"
