[Unit]
Description=Minecraft Server
After=network-online.target

Wants=mcserv-stoptimerctrl.service
OnFailure=mcserv.socket

[Service]
WorkingDirectory=/opt/mcserv
ExecStart=/usr/bin/mcserv-start

[Install]
WantedBy=mutli-user.target
